.header ul li .active {
  color: white;
}
* {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.over {
  background-color: #00023582;
}
.balls .active {
  background-color: #9f0707;
}
.app {
  background-color: #000235;
  /* background: linear-gradient(#000238, #000123); */
}
::-webkit-scrollbar {
  width: 4px;
  background-color: #000235;
}
::-webkit-scrollbar-thumb {
  /* background-color: #000235; */
  background-image: linear-gradient(to bottom, rgb(0, 0, 179), #000123);
  height: 10px;
  /* border-radius: 50%; */
}
.search::-webkit-scrollbar,
.info::-webkit-scrollbar {
  width: 0;
}
.box-card {
  box-shadow: 0px -4px 20px 0;
}
.card:hover .box-card {
  transform: translateY(120%);
}
.card:hover img {
  transform: scale(1.1, 1.1);
}

.pagination .active {
  background: #9f0707;
  color: white;
}
.disabled {
  cursor: no-drop;
  opacity: 0.2;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 0.3s;
}
.animate__animated.animate__bounceIn {
  --animate-duration: 0.3s;
}
.big-card:hover {
  box-shadow: 0px 0px 20px 2px;
}
.landing-movie {
  background-position: 50% 50%;
  background-size: cover;
}
.loading {
  background-color: #00011d;
  animation: loading 5s linear infinite;
}
@keyframes loading {
  0% {
    background-color: #00011d;
  }
  50% {
    background-color: rgb(32, 22, 67);
  }
  100% {
    background-color: #00011d;
  }
}
