.header ul li .active {
  color: white;
}
* {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.over {
  background-color: #00023582;
}
.balls .active {
  background-color: #9f0707;
}
.app {
  /* background-color: red; */
  /* background: linear-gradient(#000238,#000123); */
  background: linear-gradient(
      217deg,
      rgba(0, 10, 64, 0.8),
      rgba(32, 0, 191, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 21, 85, 0.8), rgb(3, 7, 80) 70.71%),
    linear-gradient(336deg, #000123, rgba(0, 0, 0, 0.989) 70.71%);
}
::-webkit-scrollbar {
  width: 4px;
  background-color: #000235;
}
::-webkit-scrollbar-thumb {
  /* background-color: #000235; */
  background-image: linear-gradient(to bottom, rgb(0, 0, 179), #000123);
  height: 10px;
  /* border-radius: 50%; */
}
.search::-webkit-scrollbar {
  width: 0;
}
.box-card {
  box-shadow: 0px -4px 20px 0;
}
.card:hover .box-card {
  transform: translateY(120%);
}
.card:hover img {
  transform: scale(1.1, 1.1);
}

.pagination .active {
  background: #9f0707;
  color: white;
}
.disabled {
  cursor: no-drop;
  opacity: 0.2;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 0.3s;
}
.animate__animated.animate__bounceIn {
  --animate-duration: 0.3s;
}
.big-card:hover {
  box-shadow: 0px 0px 20px 2px;
}
